@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
	h1 {
		@apply leading-tight;
		@apply font-display;
		@apply text-3xl sm:text-3xl md:text-5xl lg:text-6xl;
		@apply font-semibold;
		@apply tracking-tight;
		@apply text-slate-900;
	}

	h2 {
		@apply font-display;
		@apply text-2xl md:text-3xl lg:text-4xl;
		@apply font-semibold;
		@apply leading-[1.1em];
		@apply tracking-tight;
		@apply text-slate-900;
	}

	h3 {
		@apply font-display;
		@apply text-xl md:text-2xl;
		@apply font-semibold;
		@apply tracking-tight;
		@apply text-slate-900;
	}

	p {
		@apply text-slate-600;
	}

	small {
		@apply text-sm;
		@apply text-slate-500;
		@apply leading-snug;
	}

	strong {
		@apply font-semibold;
	}
}

@layer components {
	.subtitle {
		@apply font-display;
		@apply text-2xl;
		@apply text-slate-900;
	}

	.pre-title {
		@apply text-sm;
		@apply tracking-tight;
		@apply uppercase;
	}

	.button-gradient-primary {
		@apply bg-gradient-to-br from-[#7C3AED] to-[#EC4899];
	}

	.button-gradient-primary-dark {
		@apply bg-gradient-to-br from-[#5B21B6] to-[#DB2777];
	}
}




html {
	height: 100% !important;
	
}
body {
	width: 100%;
	height:100% !important;
	padding: 0;
	margin: 0;
	image-rendering: auto;
}

#__next {
	height:100%;
	/* min-height: 100% !important; */
	
}

.table1 {
	padding: 32px;
}

.MuiButton-label {
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}




.item-detail {
	width: 200px;
	padding-right: 20px;
}

.cover {
	padding: 10px !important;
	border-radius: 50px;
	max-height: 300px !important;
	min-height: unset !important;
	margin: 0 !important;
}

.profilePic {
	margin: 0 auto !important;
	border-radius: 500px;
	height: 200px !important;
	width: 200px !important;
	min-height: unset !important;
	min-width: unset !important;
	border: 2px solid white;
	margin: -200px;
}

.socialLink {
	margin: 0.5em;
}

.socialLink :first-of-type :last-of-type {
	margin-left: 10em;
}

.iconColor {
	color: #b16bdc;
}

.socialLinks > a:first-child {
	margin-left: 0em;
}

.socialLinks > a:last-child {
	margin-right: 0em;
}

.socialLinks {
	display: inline-flex;
	flex-direction: row;
}

.socialLink:hover {
	cursor: pointer;
}

.projectSocialLinks {
	background: #ffffff;
	border-radius: 16px;
	display: inline-flex;
	padding: 0.75em 1em;
}

.personSocialLinks {
	display: inline-flex;
}

.gradientBorder {
	background: linear-gradient(95.51deg, #fcf8ff, #fff7ff) padding-box,
		/* white background */
			linear-gradient(118.03deg, #3300ff 5.16%, #de5757 44.37%, #cc00ff 76.86%)
			border-box;
	color: #313149;
	border: 2px solid transparent;
}

.gradientBackground {
	background: linear-gradient(
			118.03deg,
			#3300ff 5.16%,
			#de5757 44.37%,
			#cc00ff 76.86%
		)
		border-box;
}

.is-active {
	color: #f85e3c !important;
	background-color: #f9e7df !important;
}

.gradientBackground2 {
	background: linear-gradient(95.51deg, #faf5ff 11.75%, #fff7ff 100.62%);
}

.gradientBackground3 {
	background: linear-gradient(95.51deg, #f7e0f7 11.75%, #faf5ff 100.62%);
}

.gradientButton {
	background: linear-gradient(121.55deg, #3300ff -7.24%, #cc00ff 111.33%),
		linear-gradient(0deg, #0c5bf4, #0c5bf4);
}

.gradientText1 {
	background: linear-gradient(117deg, #3300ff 6.27%, #cc00ff 51.79%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradientText2 {
	background: linear-gradient(121.55deg, #3300ff -7.24%, #cc00ff 111.33%),
		linear-gradient(0deg, #00518c, #00518c);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tableOfContentsItemGradient {
	background: linear-gradient(95.51deg, #f7e0f7 11.75%, #faf5ff 80.62%);
	border-radius: 0.5em;
	cursor: pointer;
}

.temp {
	width: 500px;
}

.projectProfilePicture {
	position: absolute;
	bottom: -3.25em;
	left: 0em;
	width: 100%;
	display: flex;
	justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}



/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

div.ProseMirror.focus-visible:focus {
	outline: none !important;
}

.word-wrap-anywhere {
	overflow-wrap: anywhere;
}

.link-hover-default:hover {
	transform: scale(101%);
}

.link-hover-primary:hover {
	color: var(--primary-color) !important;
}

.share-button-hover:hover {
	background-color: var(--share-button-color) !important;
}

.link-hover-defaultBg:hover {
	background-color: var(--button-color-hover) !important;
	color: var(--primary-color) !important;
}

.link-hover-primaryBg:hover {
	background-color: var(--primary-color-hover) !important; 
}

.link-hover-lift:hover {
	transform: translateY(-0.25rem);
}
.link-hover-lift-hardshadow:hover {
	box-shadow: 10px 16px 0px -1px var(--shadow-color) !important;
}
.link-hover-offset:hover {
	transform: translateX(4px) translateY(4px);
	transition: all 100ms cubic-bezier(0.080, 0.675, 0.435, 0.995) !important; /* custom */
}
.link-hover-offset-hardshadow:hover {
	box-shadow: 6px 8px 0px -1px var(--shadow-color) !important;
}

.cudaUnderline {
	background-image: url("/links/underline.svg");
	background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    padding-bottom: 6px;
}

.custom-scrollbar::-webkit-scrollbar {
	width:8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: rgba(71, 85, 105,0.2);
	/* background-color: transparent; */
	
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* .custom-scrollbar:hover::-webkit-scrollbar-thumb {
	background-color: rgba(32,33,36,0.15);
	transition: background-color 200ms linear;
} */

/* .links-overlay::after {
	content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
	z-index: 1;
}
.links-overlay > * {
	z-index: 50;
} */

.tippy-box[data-theme~="cuda"] {
	@apply bg-slate-900;
	@apply text-slate-50;
	@apply rounded-md;
}

.tippy-box[data-theme~="cuda-light"] {
	@apply bg-slate-100;
	@apply text-slate-600;
	
	@apply rounded-md;
}

.tippy-box[data-theme~="none"] {
	@apply bg-transparent;
	@apply p-0;
}

.cuda-toast-enter {
	animation: toastEnter 300ms  cubic-bezier(.02,.34,.2,1) both;	
}
@keyframes toastEnter {
		0% {
			opacity: .8;
			transform: translateY(16px);
		}
	
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
.cuda-toast-exit {
	animation: toastExit 300ms cubic-bezier(.4,.09,.2,1) both;	
}
@keyframes toastExit {
		0% {
			opacity: 100;
			transform: translateY(0);
		}
	
		100% {
			opacity: 0;
			transform: translateY(-16px);
		}
	}

.tippy-box[data-theme~="cuda-themed"] {
	@apply rounded-lg;
	@apply shadow-sm;
	background-color: var(--button-color) !important;
	color: var(--buttonText-color) !important;
	
}

.fix-blurry-scale {
	transform: perspective(1px) translateZ(0);
	backface-visibility: hidden;
}

.animate-back-and-forth {
	animation: back-and-forth 0.8s ease-in-out infinite alternate; 

}
@keyframes back-and-forth {
	0%,100% { transform: translateX(0px)}
	50% { transform: translateX(4px)}
}

.marquee-left {
	position: relative;
	overflow: hidden;
	--offset: 33.33vw;
	--move-initial: calc(-33.33% + var(--offset));
	--move-final: calc(-66.66% + var(--offset));
}
.marquee-right {
	position: relative;
	overflow: hidden;
	--offset: 33.33vw;
	--move-initial: calc(-66.66% + var(--offset));
	--move-final: calc(-33.33% + var(--offset));
}

.marquee-inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial),0,0);
	animation: marquee-animation 30s linear infinite;

}
@keyframes marquee-animation {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
.animate-marquee-left {
	animation: marquee-left 10s linear infinite;
}
.animate-marquee-left2 {
	animation: marquee-left 10s linear infinite;
	animation-delay: 5s;
}

@keyframes marquee-left {
	from { transform: translateX(0); }
	to { transform: translateX(-50%); }
  }

  .animate-marquee-right {
	animation: marquee-right 10s linear infinite;
}
  .animate-marquee-right2 {
	animation: marquee-right 10s linear infinite;
	animation-delay: 5s;
}

@keyframes marquee-right {
	from { transform: translateX(0); }
	to { transform: translateX(50%); }
  }


/*TRANSITIONS - Not currently using, but made for react-transition-group CSSTransitions*/
.slideUp-appear {
	transform: translateY(12px);
	opacity: 0;
}

.slideUp-appear-active {
	transform: translateY(0);
	opacity: 100;
	transition: all 1000ms cubic-bezier(.4,.09,.2,1);
}
.slideUp-enter {
	transform: translateY(12px);
	opacity: 0;
}

.slideUp-enter-active {
	transform: translateY(0);
	opacity: 100;
	transition: all 1000ms cubic-bezier(.4,.09,.2,1);
}
.slideUp-exit {
	transform: translateY(0);
	opacity: 100;
}
.slideUp-exit-active {
	transform: translateY(-6px);
	opacity: 0;
	transition: all 300ms ease-out;
}

.ProseMirror:focus {
	outline: none;
}

.ProseMirror {
	height: 100%;
}

.ProseMirror ul,ol p {
	line-height: 1.25 !important;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
	margin-bottom: auto;
    height: 0;
    pointer-events: none;
  }

  @keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}
.animate-ping-slower {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite !important;
}
